{% extends "layout.html" %}
{% block body %}
	{% if note %}
	<h1 class="header center teal-text text-lighten-2">Edit Note</h1>
	{% else %}
	<h1 class="header center teal-text text-lighten-2">Add Note</h1>
	{% endif %}
	<div class="section no-pad-bot container row">
		{% if note %}
		<form class="col s12" action="/save?id={{ note.id }}" method=post>
		{% else %}
		<form class="col s12" action="/save" method=post>
		{% endif %}
			<div class="row">
				<div class="input-field col s12">
					<input id="label" type="text" class="validate" name="label" value="{{ note.label }}">
					<label for="label">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="descr" type="text" class="validate" onclick="shownote();" name="descr" value="{{ note.descr }}">
					<label for="descr">Description</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="descr" type="text" class="validate" name="link" value="{{ note.link }}">
					<label for="link">Source link</label>
				</div>
			</div>
			<div style="display: none" class="note card-panel teal lighten-2">Note that any links should be added in markdown to be clickable</div>
			<div class="row center">
				<button type="submit" class="btn-large waves-effect waves-light teal lighten-1">Save Note</button>
			</div>
		</form>
	</div>
{% endblock %}