<!DOCTYPE html>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Loci</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	{#<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">#}

	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo">My Notes</a>
			<ul class="right hide-on-med-and-down">
			<li><a href="/edit">New Note</a></li>
			</ul>
	
			<ul id="slide-out" class="side-nav">
			<li class="bold"><a href="/edit" class="waves-effect waves-teal">New Note</a></li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>
	{% block body %}{% endblock %}

	<!--  Scripts-->
    <script src="static/node_modules/jquery/dist/jquery.js"></script>

	<script src="static/js/helpers/materialize.js"></script>
	<script src="static/js/helpers/init.js"></script>
	<script src="static/js/helpers/showdown.js"></script>
	<script src="static/js/helpers/bootstrap-list-filter.min.js"></script>
	<script src="static/js/helpers/script.js"></script>