{% extends "layout.html" %}
{% block body %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">My Notes</h1>
                <div class="row center">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <h5 class="header col s12 light">Start managing your memories</h5>
                </div>
                <!-- <input id="searchinput" class="form-control" type="search" placeholder="Search..." ng-model="userInput.name" data-clear-btn="true"/>
                <button ng-if="userInput.name.length" class="button button-icon ion-android-close input-button" ng-click="clearSearch()" />
                <div class="row center">
                    <button data-clear-btn="true" type="button" id="download-button" class="btn-large waves-effect waves-light teal lighten-1" ng-click="applySearch()" onclick="showclear()">Search</button>
                </div>
                <br><br> -->
            </div>
        </div>
        <div class="parallax"><img src="static/img/parallax.jpg" alt="Unsplashed background img 3"></div>
    </div>
    
    <div class="container">
        {% if notes %}
            {% for note in notes %}
            <!-- <div class="section"> -->
            <div class="row">
                <div class="card white valign">
                    <div class="col s12">
                        <a href="/edit?id={{note.id}}">
                            <h2>{{ note.label }}</h2>
                            <br>
                            <h5 class="descr markdown"><i>{{ note.descr }}</i></h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <!-- <div class="section"> -->
        <div class="row">
            <div class="card white valign">
                <h1 class="header center teal-text text-lighten-2">You haven't any notes yet.</h1>
                <div class="card-image parent-of-images" align="center">
                    <img src="static/img/no_entries.gif" alt="Sad bunny" class="pic">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{#
<!--
<ul class="users" ng-show="searchReasult && query">
    <li ng-repeat="user in usersToFilter | filter: searchQuery |orderBy:type" class="thumbnail user-listing">
        {{user.name}}
        <p>{{user.address}}</p>
    </li>
</ul>

<div class="search-box">
                <input type="text" ng-model="query">
                <div class="row center">
                    <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1" ng-click="search()">Search</a>
                </div>
            </div>
            
            <form role="form">
    <div class="form-group">
        <input id="searchinput" class="form-control" type="search" placeholder="Search..." />
    </div>
    <div id="searchlist" class="list-group">
        <a href="#" ng-repeat="item in list" class="list-group-item">
            <b class="list-group-item-heading">{{item.name}}</b>
            <br>
            <i class="list-group-item-text descr">
		{{item.description}}
	    </i>
        </a>
    </div>
</form>
<script>
    $('#searchlist').btsListFilter('#searchinput', {
        itemChild: 'b'
    });
</script>
-->
#}